<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    #email {
      font-family: Helvetica, sans-serif;
      font-weight: 100;
      color: black;
      text-align: center;
    }
    .tipopedido {
      font-size: 50px;
      text-align: center;
      color: orange;
      padding: 20px 0;
    }
    .nombrecompleto {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .email {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .celular {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .date {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .direccion {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .productos {
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
    }
    .productoitems {
      font-size: 18px;
      text-align: center;
      padding: 5px 0;
    }
    .logo {
      text-align: center;
      padding: 5px 0;
    }
    .logoimg {
      height: 100px;
    }
    #customers {
      border-collapse: collapse;
      width: 80%;
      margin: 0 auto;
    }
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    #customers tr:nth-child(even){background-color: transparent;}
    #customers tr:hover {background-color: RGBA(252, 168, 65, 0.4);}
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: rgb(46, 55, 134);
      color: white;
    }
    .myindigo {
      color: rgb(46, 55, 134);
    }
  </style>
</head>
<body>
  <div id="email">
    <div class="logo">
      <img class="logoimg" src="https://firebasestorage.googleapis.com/v0/b/reboteana.appspot.com/o/logorebote.png?alt=media&token=a8332fde-7852-4451-997f-484e1eabfaf7"/>
    </div>
    <div class="tipopedido"> <span class="myindigo">Tipo: </span> {{tipopedido}} </div>
    <div class="nombrecompleto"> <span class="myindigo">Nombre completo: </span>{{nombre}}</div> 
    <div class="email"> <span class="myindigo">E-mail: </span>{{email}}</div>
    <div class="celular"> <span class="myindigo">Teléfono o celular: </span>{{phone}}</div> 
    <div class="date"> <span class="myindigo">Fecha de evento o cumpleaños: </span>{{date}}</div> 
    <div class="direccion"> <span class="myindigo">Dirección de evento o cumpleaños: </span> {{direccion}}</div> 
    <div>
      <div class="productos"><span class="myindigo">Productos o servicios:</span> </div>
      <div class="productoitems">
        <table id="customers">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
          {{#producto}}
          <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
          </tr>
          {{/producto}}    
        </table>
      </div>
    </div>
    
  </h1>
</body>
</html>