<template>
  <div>
    <catalogo-ninos></catalogo-ninos>
    <catalogo-bebes></catalogo-bebes>
    <catalogo-snacks></catalogo-snacks>
    <catalogo-rebote-games></catalogo-rebote-games>
    <catalogo-feria></catalogo-feria>
    <catalogo-otros-servicios></catalogo-otros-servicios>
  </div>
</template>
<script>
import CatalogoNinos from '@/components/CatalogoNinos'
import CatalogoBebes from '@/components/CatalogoBebes'
import CatalogoSnacks from '@/components/CatalogoSnacks'
import CatalogoReboteGames from '@/components/CatalogoReboteGames'
import CatalogoFeria from '@/components/CatalogoFeria'
import CatalogoOtrosServicios from '@/components/CatalogoOtrosServicios'
export default {
  components: {
    CatalogoNinos,
    CatalogoBebes,
    CatalogoSnacks,
    CatalogoReboteGames,
    CatalogoFeria,
    CatalogoOtrosServicios
  },
  name: 'AllCatalogo'
}
</script>

