<template>
  <a href="#/catalogo">
    <div class="btninicio round outline fontsize" ripple>
      <div class="btncontent">
        <slot name="title"></slot>
      </div>
    </div>
  </a>
</template>
<style scoped>
a {
  color: white;
  user-select: none;
  text-decoration: none;
}
.btninicio {
  display: inline-flex;
  flex: 0 1 auto;
  justify-content: center;
  outline: 0;
  font-weight: 500;
  margin: 6px 8px;
  min-width: 88px;
  align-items: center;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btninicio:hover {
  color: #5E46F3;
  background-color: white;
}
.round {
  border-radius: 50px;
}
.outline {
  border: 2px solid #ffffff;
}
.fontsize {
  font-size: 3.5vh;
}
.btncontent {
  padding: 1vh 3vh;
}
</style>