<template>
  <v-container fluid grid-list-md>
    <div class="text-xs-center pt-2" v-if="$store.state.search.length == 0">
      <v-pagination v-model="pagination.page" :length="pages" circle :total-visible="7"></v-pagination>
    </div>
    <div style="padding-bottom:3vh" ></div>
    <v-data-iterator
      no-results-text="No encontrado en Snacks"
      content-tag="v-layout"
      :search="search"
      row
      wrap
      hide-actions
      :items="items.itemssnacks"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
    <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
      <v-flex
        slot="item"
        slot-scope="props"
        xs12
        sm6
        md4
        lg4
        class="text-xs-center"
      >
        <v-card style="background:#5E46F3" class="elevation-3 white--text" dark>
          <v-dialog
            v-model="props.item.dialog"
            hide-overlay
            scrollable
            width="70%"
            class="sinblur"
          >
            <v-card>
              <v-layout align-top align-content-top justify-center row wrap>
                <v-flex x12 class="white--text" style="position: absolute; z-index: 5; right: 2%; top: 2%">
                  <v-btn icon dark @click.native="props.item.dialog = false" @click="cleanApp()">
                      <v-icon>close</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs12>
                  <v-carousel hide-delimiters>
                    <v-carousel-item 
                      v-for="collection in props.item.collection"
                      :src="collection.image"
                      :key="collection.id"
                    >
                    </v-carousel-item>
                  </v-carousel>
                </v-flex>
              </v-layout>
            </v-card>
          </v-dialog>
          <v-card-media :src="props.item.image" style="height: 35vh; margin: 0 auto;">
            <v-layout style="position: absolute; z-index: 5; right: 2%; top: 3%">
              <v-btn icon color="white" style="right: 0" light @click.stop="props.item.dialog = true" @click="blurApp()">
                <v-icon color="orange">collections</v-icon>
              </v-btn>
            </v-layout>
            <v-layout align-center align-content-center justify-center row wrap style="background: rgba(94, 70, 243, 0.3); height:100%; position:absolute">
              <v-flex xs12 style="font-size:25px; font-weight: 500" class="white--text"> {{ props.item.name }} </v-flex>
              <v-flex xs12 class="pl-5 pr-5" style="font-weight: 500"> {{ props.item.description }}</v-flex>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  
                  color="indigo"
                  @click.native="props.item.click = !props.item.click" 
                  v-model="props.item.click" 
                  v-if="props.item.click == false"
                  @click="addProduct(props.item)"
                >
                  Añadir a la cotización
                </v-btn>
                <v-btn 
                  @click.native="props.item.click = !props.item.click" 
                  v-model="props.item.click" 
                  v-if="props.item.click == true"
                  @click="removeProduct(props.item)"
                  color="indigo lighten-1"
                >
                  Quitar de la cotización
                </v-btn>
                
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-layout>
            </v-card-media>
        </v-card>
      </v-flex>
    </v-data-iterator>
  </v-container>
</template>
<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import { storage } from '../firebase/firebase'
export default {
  data: () => ({
    rowsPerPageItems: [4, 8],
    pagination:
    {
      rowsPerPage: 6
    }
  }),
  mounted () {
    console.log('Mounted Snacks, loading...')
    let self = this
    for (let i = 0; i < self.items.itemssnacks.length; i++) {
      if (self.items.itemssnacks[i].image.includes('https://')) {
        self.items.itemssnacks[i].image = self.items.itemssnacks[i].image
      } else {
        const iRef = self.items.itemssnacks[i].image
        storage.ref(iRef).getDownloadURL().then(function (url) {
          self.items.itemssnacks[i].image = url
        })
      }
      for (let j = 0; j < self.items.itemssnacks[i].collection.length; j++) {
        if (self.items.itemssnacks[i].collection[j].image.includes('https://')) {
          self.items.itemssnacks[i].collection[j].image = self.items.itemssnacks[i].collection[j].image
        } else {
          let iCollectionRef = self.items.itemssnacks[i].collection[j].image
          console.log(iCollectionRef)
          storage.ref(iCollectionRef).getDownloadURL().then(function (url) {
            self.items.itemssnacks[i].collection[j].image = url
          })
        }
      }
    }
  },
  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    },
    ...mapState([
      'search',
      'items'
    ])
  },
  methods: {
    ...mapActions([
      'increment',
      'decrement'
    ]),
    ...mapMutations([
      'addProduct',
      'removeProduct'
    ]),
    blurApp () {
      let elem = document.getElementById('blur')
      elem.style.backgroundColor = 'rgba(0,0,0,0.4)'
      elem.style.zIndex = '10'
      elem.style.top = '0'
      elem.style.bottom = '0'
      elem.style.left = '0'
      elem.style.right = '0'
      elem.style.position = 'absolute'
    },
    cleanApp () {
      let elem = document.getElementById('blur')
      elem.style.backgroundColor = ''
      elem.style.zIndex = ''
      elem.style.top = ''
      elem.style.bottom = ''
      elem.style.left = ''
      elem.style.right = ''
      elem.style.position = ''
    }
  },
  name: 'CatalogoSnacks'
}
</script>

