<template>
  <v-container fluid style="padding:0; margin:0" v-if="!loading" class="black--text">
    <div style="height:12vh"></div>
    <v-layout row wrap align-center align-content-center justify-center>
      <v-flex xs12 sm6 md3>
        <v-text-field
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
          v-model="$store.state.search"
          color="indigo"
          light
        ></v-text-field>
      </v-flex>
      <!-- <div>{{$store.state.search.length == 0}}</div> -->
    </v-layout>
      <div style="padding-bottom:3vh" ></div>
      <v-tabs
        light
        ripple="false"
        centered
        color="transparent"
        slider-color="indigo"
        v-if="$store.state.search.length == 0"
      >
        <v-tab 
          v-for="item in tabsitems" 
          :key="item.id" 
          :to="item.ref" 
          router
          class="tabsitems"
          >
          {{ item.title }}
        </v-tab>
      </v-tabs>
      <v-content style="padding: 0 10px" v-if="$store.state.search.length == 0">
        <router-view/>
      </v-content>
      <v-content style="padding: 0 10px" v-if="$store.state.search.length > 0">
        <all-catalogo></all-catalogo>
      </v-content>
      <div style="padding-bottom:10vh" ></div>
  </v-container>
  <div v-else>
    <h1> Loading ...</h1> <!-- Design the loading view-->
  </div>
</template>
<script>
import AllCatalogo from '@/components/AllCatalogo'

import { itemsRef } from '../firebase/firebase'
import { mapMutations, mapState } from 'vuex'

export default {
  components: {
    AllCatalogo
  },
  data () {
    return {
      active: null,
      tabsitems: [
        { title: 'Niños', ref: '/catalogo' },
        { title: 'Bebés', ref: '/catalogo/bebes' },
        { title: 'Carritos Snacks', ref: '/catalogo/snacks' },
        { title: 'Rebote Games', ref: '/catalogo/rebotegames' },
        { title: 'Juegos de Feria', ref: '/catalogo/feria' },
        { title: 'Otros Servicios', ref: '/catalogo/otrosservicios' }
      ],
      tabs: null,
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      duration: 800,
      offset: 0,
      easing: 'easeOutQuint',
      loading: true
    }
  },

  mounted () {
    let self = this
    console.log('Mounted, loading...')
    if (self.items.itemsninos.length === 0 && self.items.itemsbebes.length === 0 && self.items.itemssnacks.length === 0 && self.items.itemsrebotegames.length === 0 && self.items.itemsferia.length === 0 && self.items.itemsotrosservicios.length === 0) {
      itemsRef.on('value', function (snap) {
        self.loading = false
        const allItems = snap.val()
        console.log(allItems)
        self.updateItems(allItems)
      })
    } else {
      self.loading = false
    }
  },

  computed: {
    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    },
    ...mapState([
      'items'
    ])
  },
  methods: {
    ...mapMutations([
      'updateItems'
    ])
  },
  name: 'Catalogo'

}
</script>

<style scoped>
body,
html {
  height: 100%;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.tabsitems {
  color: black;
  font-size: 20px;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
