<template>
  <v-container id="lista" fluid style="padding:0; margin:0;" class="black--text">
    <v-layout row wrap align-center justify-space-around class="pb-3">
      <v-flex xs12>
        <div class="text-xs-center pt-2 pb-3 title">
          LISTA DE SERVICIOS
        </div>
      </v-flex>
      <v-flex xs12 sm11 md10>
        <v-data-table
          :headers="headers"
          :items="products"
          hide-actions
          light
          class="elevation-0"
        >
          <template slot="items" slot-scope="props" >
            <td class="text-xs-center pl-0 pr-0 ml-0 mr-0">
              <v-card-media :src="props.item.image" style="height: 125px; width: 125px; margin: 0 auto;" contain>
              </v-card-media>
            <td class="text-xs-center pl-0 pr-0 ml-0 mr-0">{{ props.item.name }}</td>
            <td class="text-xs-center pl-0 pr-0 ml-0 mr-0">{{ props.item.description }}</td>
            <td class="justify-center text-xs-center pl-0 pr-0 ml-0 mr-0">
              <v-btn icon class="mx-0" @click="deleteProduct(props.item)">
                <v-icon color="orange">delete</v-icon>
              </v-btn>
            </td>
          </template>
          <template slot="no-data" >
            <div class="text-xs-center">Tu lista de deseos está vacía</div>
          </template>
        </v-data-table>
      </v-flex>
      <v-flex xs12 class="text-xs-center pt-5 pb-5" v-if="products.length == 0">
        <v-btn light to="/catalogo">ELEGIR ALGO DEL CATÁLOGO</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { mapState, mapMutations } from 'vuex'
export default {
  data: () => ({
    pagination: {
      rowsPerPage: 2,
      sortBy: 'img'
    },
    dialog: false,
    headers: [
      {
        text: 'Producto',
        align: 'center',
        sortable: false,
        value: 'img'
      },
      { text: 'Nombre', align: 'center', value: 'name' },
      { text: 'Descripción', align: 'center', sortable: false, value: 'description' },
      { text: 'Eliminar', align: 'center', value: 'name', sortable: false }
    ],
    items: [],
    editedIndex: -1,
    editedItem: {
      img: null,
      name: '',
      description: 0
    },
    defaultItem: {
      img: null,
      name: '',
      description: 0
    }
  }),
  computed: {
    ...mapState([
      'products'
    ]),
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  methods: {
    ...mapMutations([
      'deleteProduct'
    ])
  },
  name: 'ListaPedidos'
}
</script>
<style scoped>
div >>> .table {
  color: black;
  background-color: transparent;
  border-collapse: collapse;
}
div >>> .table tbody tr:hover:not(.datatable__expand-row) {
  background: rgba(255,255,255,0.1);
}
div >>> tr th {
  outline: 0;
  align-items: center;
  text-align: center;
}
@media (min-width: 0) {
  .text-xs-left >>> th{
    text-align: center !important;
  }
}

</style>

