<template>
  <v-container fluid style="padding:0; margin:0; overflow: hidden;" class="white--text familyfont">
      <video autoplay loop muted playsinline>
        <source :src='rebotevideo' type="video/mp4">
      </video>
      <v-layout row wrap align-center align-content-center justify-center class="overlay_desc">
        <v-layout row wrap align-center align-content-center justify-center style="height:90%">
          <v-flex xs12 sm12 md12 class="text-xs-center">
            <img :src="logorebote" alt="Logo Rebote" class="logosize">
          </v-flex>
          <v-flex xs10 sm8 md6 class="text-xs-center textshadow textflowheight noSelect">
            Empresa líder y primera en el Perú en alquiler de inflables.
          </v-flex>
          <v-flex xs12 sm12 md12 class="text-xs-center paddingtopbottom">
            <v-layout row wrap align-content-space-around justify-center>
              <v-flex xs12 sm4 md2 class="text-xs-center paddingtopbottom">
                <btn-ver-catalogo>
                  <div slot="title">Catálogo</div>
                </btn-ver-catalogo>
              </v-flex>
              <v-flex xs12 sm4 md2 class="text-xs-center paddingtopbottom">
                <btn-cotizar>
                  <div slot="title">Cotizar</div>
                </btn-cotizar>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-flex xs12 sm12 md12 class="text-xs-center paddingtopbottom">
          <div id="arrowdown" class="noSelect">
            <a @click="$vuetify.goTo('#quienessomos', options)">
              <v-icon dark class="arrowsize">keyboard_arrow_down</v-icon>
            </a>
          </div>
        </v-flex>
      </v-layout>
      <rebote-promociones></rebote-promociones>
      <rebote-quienes-somos></rebote-quienes-somos>
      <rebote-clientes></rebote-clientes>
      <rebote-como></rebote-como>
  </v-container>
</template>
<script>
import BtnVerCatalogo from '@/components/BtnVerCatalogo'
import BtnCotizar from '@/components/BtnCotizar'
import ReboteComo from '@/components/ReboteComo'
import ReboteQuienesSomos from '@/components/ReboteQuienesSomos'
import ReboteClientes from '@/components/ReboteClientes'
import RebotePromociones from '@/components/RebotePromociones'
import logorebote from '../assets/images/logorebote.png'
import { mapState } from 'vuex'
export default {
  components: {
    BtnVerCatalogo,
    BtnCotizar,
    ReboteComo,
    ReboteQuienesSomos,
    ReboteClientes,
    RebotePromociones
  },
  data () {
    return {
      logorebote: logorebote,
      duration: 800,
      offset: 0,
      easing: 'easeOutQuint'
    }
  },
  computed: {
    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    },
    ...mapState([
      'rebotevideo'
    ])
  },
  name: 'ReboteHome'
}
</script>

<style scoped>
body,
html {
  height: 100%;
}
.bckgnd {
  position: relative;
  margin: 0 0 0 0;
  top: 0;
  /* Full screen */
  width: 100vw;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100vw;
}
.logosize {
  min-height: 25vw;
  max-height: 25vh;
}
.familyfont {
  font-family: "Poppins", sans-serif;
}
.textshadow {
  text-shadow: 0 0 5px #000000;
}
.textflowstyle {
  font-size: 3.5vh;
  text-transform: capitalize;
}
.paddingtopbottom {
  padding: 10px 0 10px 0;
}
#arrowdown {
  animation: move 3s ease infinite;
}
.textflowheight {
  font-size: 3.5vh;
}
.arrowsize {
  font-size: 10vh;
}
@keyframes move {
  50% {
    transform: translate(0, -5vh);
  }
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
video {
  position: relative;
  z-index: 0;
  height: 100vh;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.overlay_desc {
  background: rgba(119, 83, 72, 0.5);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
</style>
