<template>
  <v-container id="como" fluid style="margin:0" class="black--text noSelect">
      <v-layout row wrap align-center align-content-center justify-center>
        <v-flex xs12 sm12 md12 class="text-xs-center" style="padding: 7vh 0">
          <div class="title_como">CÓMO COTIZAR</div>
        </v-flex>
        <v-flex xs11 sm10 md10 class="text-xs-center" style="margin-top: -50px">
          <v-layout row wrap align-center align-content-center justify-center>
            <v-flex xs12 sm6 md4 class="text-xs-center" v-for="paso in pasos" :key="paso.id">
              <div class="text-xs-center" style="margin-bottom: -30px">
                <img :src="paso.image" :alt="paso.id" style="width: 350px;"/>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
  </v-container>
</template>
<script>
import paso1 from '../assets/images/comocotizar/paso1.png'
import paso2 from '../assets/images/comocotizar/paso2.png'
import paso3 from '../assets/images/comocotizar/paso3.png'
import paso4 from '../assets/images/comocotizar/paso4.png'
export default {
  data () {
    return {
      pasos: [
        {
          image: paso1
        },
        {
          image: paso2
        },
        {
          image: paso3
        },
        {
          image: paso4
        }
      ]
    }
  },
  name: 'ReboteComo'
}
</script>

<style scoped>
.title_como {
  font-weight: 400;
  font-size: 5vh;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
