<template>
  <v-container id="promociones" fluid style="margin:0; padding:0" class="black--text noSelect">
      <v-layout row wrap align-center align-content-center justify-center>
        <v-flex xs12 class="text-xs-center">
          <carousel :perPageCustom="[[300, 1], [600, 1], [960, 1], [1264, 1], [1904,1]]" :autoplay="true" :autoplayTimeout=1500 :autoplayHoverPause="true" :scrollPerPage="false" :paginationEnabled="false">
            <slide
              v-for="(promocion, i) in promociones"
              :key="i">
              <img :src="promocion.image" style="width: 100vw; height: auto"/>
            </slide>
          </carousel>
        </v-flex>
      </v-layout>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { storage } from '../firebase/firebase'
export default {
  data () {
    return {
    }
  },
  mounted () {
    console.log('Mounted Promociones, loading...')
    let self = this
    for (let i = 0; i < self.promociones.length; i++) {
      if (self.promociones[i].image.includes('https://')) {
        self.promociones[i].image = self.promociones[i].image
      } else {
        const iRef = self.promociones[i].image
        storage.ref(iRef).getDownloadURL().then(function (url) {
          self.promociones[i].image = url
        })
      }
    }
  },
  computed: {
    ...mapState([
      'promociones'
    ])
  },
  name: 'RebotePromociones'
}
</script>
<style scoped>
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>