<template>
  <v-container id="nuestrosvalores" fluid style="margin:0; padding:0" class="black--text">
    <v-layout row wrap align-center align-content-center justify-center class="hidden-sm-and-down">
      <v-flex xs12 sm12 md12 class="text-xs-center noSelect pb-3 pt-5">
        <div class="title_nosotros">NOSOTROS</div>
      </v-flex>
      <v-flex md12 class="text-xs-center">
        <img :src="misionvaloresmision" alt="Valores" class="valores_size" style="z-index:1">
      </v-flex>
    </v-layout>
    <v-layout row wrap align-center align-content-center justify-center class="hidden-md-and-up">
      <v-flex xs12 sm12 md12 class="text-xs-center noSelect pb-3 pt-5">
        <div class="title_nosotros">NOSOTROS</div>
      </v-flex>
      <v-flex xs12 sm12 class="text-xs-center">
        <img :src="nuestramision" alt="Nuestra Mision" class="valores_size" style="z-index:1">
      </v-flex>
      <v-flex xs12 sm12 class="text-xs-center">
        <img :src="nuestrosvalores" alt="Valores" class="valores_size" style="z-index:1">
      </v-flex>
      <v-flex xs12 sm12 class="text-xs-center">
        <img :src="nuestravision" alt="Nuestra Vision" class="valores_size" style="z-index:1">
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import misionvaloresmision from '../assets/images/misionvaloresmision.png'
import nuestramision from '../assets/images/nuestramision.png'
import nuestrosvalores from '../assets/images/nuestrosvalores.png'
import nuestravision from '../assets/images/nuestravision.png'
export default {
  data () {
    return {
      misionvaloresmision: misionvaloresmision,
      nuestramision: nuestramision,
      nuestrosvalores: nuestrosvalores,
      nuestravision: nuestravision
    }
  },
  name: 'ReboteNuestrosValores'
}
</script>
<style scoped>
.valores_size {
  width: 80vw;
}
.niños_size {
  width: 100vw;
  height: auto;
}
.title_nosotros {
  color: black;
  font-weight: 400;
  font-size: 5vh;
}
</style>

