<template>
  <v-container id="clientes" fluid style="padding:0; margin: 0;" class="white--text">
    <v-layout row wrap align-center align-content-center justify-center style="margin-top: 2vh; margin-bottom: 5vh">
      <v-flex xs12 sm12 md12 class="text-xs-center title_clientes">
        CLIENTES
      </v-flex>
      <v-flex xs12 sm12 md12 class="text-xs-center">
        <carousel :perPageCustom="[[300, 3], [600, 4], [960, 5], [1264, 7], [1904,9]]" :autoplay="true" :autoplayTimeout=1500 :autoplayHoverPause="true" :scrollPerPage="false" :paginationEnabled="false">
          <slide
            v-for="client in clients"
            :key="client.id">
            <img :src="client.image"/>
          </slide>
        </carousel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import client01 from '../assets/images/clients/client-1.png'
import client02 from '../assets/images/clients/client-2.png'
import client03 from '../assets/images/clients/client-3.png'
import client04 from '../assets/images/clients/client-4.png'
import client05 from '../assets/images/clients/client-5.png'
import client06 from '../assets/images/clients/client-6.png'
import client07 from '../assets/images/clients/client-7.png'
import client08 from '../assets/images/clients/client-8.png'
import client09 from '../assets/images/clients/client-9.png'
import client10 from '../assets/images/clients/client-10.png'
import client11 from '../assets/images/clients/client-11.png'
import client12 from '../assets/images/clients/client-12.png'
import client13 from '../assets/images/clients/client-13.png'
import client14 from '../assets/images/clients/client-14.png'
import client15 from '../assets/images/clients/client-15.png'
import client16 from '../assets/images/clients/client-16.png'
import client17 from '../assets/images/clients/client-17.png'
import client18 from '../assets/images/clients/client-18.png'
export default {
  data () {
    return {
      clients: [
        {image: client01},
        {image: client02},
        {image: client03},
        {image: client04},
        {image: client05},
        {image: client06},
        {image: client07},
        {image: client08},
        {image: client09},
        {image: client10},
        {image: client11},
        {image: client12},
        {image: client13},
        {image: client14},
        {image: client15},
        {image: client16},
        {image: client17},
        {image: client18}
      ]
    }
  },
  name: 'ReboteClientes'
}
</script>
<style scoped>
img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title_clientes {
  font-weight: 400;
  font-size: 4vh;
}
.title_clientes_xs {
  font-weight: 400;
  font-size: 4vh;
}
</style>



