<template>
  <div style="z-index: 2">
  <v-footer height="auto" style="overflow: hidden; font-size: 16px">
    <v-card flat tile class="flex" ripple dark>
      <v-flex xs12 sm12 md12 hidden-xs-only>
        <v-card-title class="indigopropio white--text pb-0 pt-2" style="font-size: 20px; padding-right: 45%"> 
          <strong>¡Infórmate más en nuestras redes sociales!</strong>
          <v-spacer></v-spacer>
          <v-btn
            v-for="icon in icons"
            :key="icon.icon.id"
            icon
            dark
            class="mx-2"
            :href="icon.link"
            style="height: 50px; width: 50px"
          >
            <v-icon size="35px" class="white--text">{{ icon.icon }}</v-icon>
          </v-btn>
        </v-card-title>
      </v-flex>
      <v-flex xs12 sm12 md12 hidden-sm-and-up>
        <v-card-title class="indigopropio white--text pb-0 pt-2"> 
          <v-flex xs12 sm12 md12 class="text-xs-center">
            <strong class="subheading">¡Infórmate más en nuestras redes sociales!</strong>
          </v-flex>
          <v-flex xs12 sm12 md12 class="text-xs-center">  
            <v-btn
              v-for="icon in icons"
              :key="icon.icon.id"
              icon
              dark
              class="mx-2"
              :href="icon.link"
              style="height: 50px; width: 50px"
            >
              <v-icon size="35px" class="white--text">{{ icon.icon }}</v-icon>
            </v-btn>
          </v-flex>
        </v-card-title>
      </v-flex>
      <v-card-text class="indigopropio white--text pb-0 pt-0">
        <v-layout row wrap align-center align-content-center justify-center>
          <v-flex xs12 sm6 md4 class="pl-5 pr-5 pb-2 pt-2">
            <v-flex xs12 sm12 md12 class="text-xs-center">
              <img :src="logorebote" alt="Logo Rebote" class="logosize">
            </v-flex>
            <v-flex xs12 sm12 md12 class="text-xs-center">
              {{companyText}}
            </v-flex>
          </v-flex>
          <v-flex xs12 sm6 md4 class="text-xs-center pl-5 pr-5 pb-2 pt-2">
            <span class="body-2">CONTÁCTANOS</span>
            <div style="height:2vh"></div>
            <div>
              
            </div>
            <div>
              <v-icon size="18px" class="mr-3 white--text">fas fa-envelope</v-icon>
                ventas2@rebote.com.pe
            </div>
            <div>
              <v-icon size="18px" class="mr-3 white--text">fas fa-phone</v-icon>
                (01) 365 2247
            </div>
          </v-flex>
          <v-flex xs12 sm6 md4 class="text-xs-center pl-5 pr-5 pb-2 pt-2">
            
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="indigopropio white--text justify-center pt-1 pb-2" style="z-index:101">
          &copy; {{ new Date().getFullYear() }} — <strong>Rebote</strong>
      </v-card-actions>
    </v-card>
  </v-footer>
  </div>
</template>
<script>
import logorebote from '../assets/images/logorebote.png'
import ubicacion from '../assets/images/ubicacion.png'
export default {
  data () {
    return {
      logorebote: logorebote,
      ubicacion: ubicacion,
      icons: [
        {
          icon: 'fab fa-facebook',
          link: 'https://www.facebook.com/rebote.com.pe/'
        },
        {
          icon: 'fab fa-instagram',
          link: 'https://www.instagram.com/elrebote/'
        }
      ],
      companyText: 'Rebote se preocupa por brindar el mejor servicio a sus clientes con efectividad en el envío y con la mejora calidad de juegos inflables.'
    }
  },
  name: 'ReboteFooter'
}
</script>
<style scoped>
.shadowfooter {
  -webkit-box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.3);
  box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.3);
}
.padding_top_bottom {
  padding: 2vh 0;
}
.logosize {
  height: 100px;
}
.bordernone {
  border-style: none;
}
.ubicacionsize {
  width: 100%;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.indigopropio {
  background: #5E46F3;
}
</style>

