<template>
  <v-container id="quienessomos" fluid style="padding:0; margin:0; position:relative; overflow: hidden;" class="black--text">
    <v-layout row wrap align-center align-content-center justify-center class="mb-3">
      <v-flex hidden-xs-only xs12 sm12 md12 class="text-xs-center noSelect position_top pb-5 pt-5">
        <div class="title_quienes">QUIÉNES SOMOS</div>
      </v-flex>
      <v-flex hidden-sm-and-up xs12 sm12 md12 class="text-xs-center noSelect pb-5 pt-5">
        <div class="title_quienes_xs">QUIÉNES SOMOS</div>
      </v-flex>
      <v-flex xs12 sm12 md12 class="text-xs-center">
        <v-layout class="paddingladosdiv items_textsize" row wrap align-center align-content-center justify-center>
          <v-flex xs12 sm12 md6 class="text-xs-center paddingbottom"
            v-for="item in items"
            :key="item.id">
            <v-flex xs12 sm12 md12 class="text-xs-center pb-3">
              <img :src="item.image" alt="Year" class="graphic_size">
            </v-flex>
            <v-flex xs12 sm12 md12 class="text-xs-center paddinglados">
              {{item.text}}
            </v-flex>
          </v-flex>
      </v-layout>
    </v-flex>
    </v-layout>
    <rebote-nuestros-valores></rebote-nuestros-valores>
  </v-container>
</template>
<script>
import year from '../assets/images/1990.svg'
import quality from '../assets/images/quality.svg'
import ReboteNuestrosValores from '@/components/ReboteNuestrosValores'
export default {
  components: {
    ReboteNuestrosValores
  },
  data () {
    return {
      items: [
        { image: year, text: 'Desde 1990, inflamos la diversión en fiestas infantiles, reuniones y eventos comerciales. En el Perú, somos la primera empresa dedicada al alquiler de inflables.' },
        { image: quality, text: 'Nuestros originales juegos son importados de Estados Unidos, fabricados con materiales resistentes, bajo los mas altos estándares de seguridad.y certificados para el uso infantil.' }
      ]
    }
  },
  name: 'ReboteQuienesSomos'
}
</script>

<style scoped>
.title_quienes {
  color: black;
  font-weight: 400;
  font-size: 5vh;
}
.title_quienes_xs {
  color: black;
  font-weight: 400;
  font-size: 5vh;
}
.padding_bottom {
  padding: 0 0 3vh 0;
}
.items_textsize {
  font-size: 2.35vh;
}
.paddinglados {
  padding: 0 5vw 0 5vw;
}
.paddingladosdiv {
  padding: 0 15vw 0 15vw;
}
.paddingbottom {
  padding-bottom: 5vh;
}
.paddingbottom_title {
  padding-bottom: 8vh;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.overlay_desc {
  background: rgba(119, 83, 72, 0.5);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.graphic_size {
  width: 30%;
}
</style>

