<template>
  <div>
    <div style="height:15vh"></div>
    <div>
      <v-stepper v-model="e1" style="background: transparent" class="elevation-0" light v-if="msgfinal == null">
        <v-stepper-header class="elevation-0">
          <template v-for="n in steps">
            <v-stepper-step
              :key="`${n}-step`"
              :step="n"
              :complete="e1 > n"
            >
              <div class="black--text">Paso {{ n }}: {{pasos[n-1]}}</div>
            </v-stepper-step>
            <v-divider v-if="n !== steps" :key="n" class="indigo darken-1"></v-divider>
          </template>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content
            :step="n"
            v-for="n in steps"
            :key="`${n}-content`"
          >
            <v-card color="transparent" class="mb-1 elevation-0">
              <template v-if="n == 1">
                <lista-pedidos></lista-pedidos>
              </template>
              <template v-if="n == steps">
                <v-form>
                  <v-layout row wrap align-center justify-space-around>
                    <v-flex xs10 sm8 md5>
                      <v-text-field
                        color="orange"
                        single-line
                        prepend-icon="person"
                        label="Nombre Completo"
                        v-model="name"
                        :error-messages="nameErrors"
                        :counter="30"
                        @input="$v.name.$touch()"
                        @blur="$v.name.$touch()"
                        required
                        light
                      ></v-text-field>
                      <v-text-field
                        color="orange"
                        single-line
                        prepend-icon="email"
                        label="Correo electrónico"
                        v-model="email"
                        :error-messages="emailErrors"
                        @input="$v.email.$touch()"
                        @blur="$v.email.$touch()"
                        required
                        light
                      ></v-text-field>
                      <v-text-field
                        color="orange"
                        single-line
                        prepend-icon="phone"
                        label="Celular o teléfono"
                        v-model="phone"
                        :error-messages="phoneErrors"
                        @input="$v.phone.$touch()"
                        @blur="$v.phone.$touch()"
                        required
                        light
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs10 sm8 md5>
                      <v-dialog
                        ref="dialog"
                        persistent
                        v-model="modal"
                        lazy
                        full-width
                        width="290px"
                        :return-value.sync="date"
                        >
                        <v-text-field
                          slot="activator"
                          label="Fecha del evento/cumpleaños"
                          v-model="dateFormatted"
                          color="orange"
                          single-line
                          prepend-icon="event"
                          readonly
                          :error-messages="dateFormattedErrors"
                          @input="$v.dateFormatted.$touch()"
                          @blur="parseDate(dateFormatted)"
                          required
                          light
                          ></v-text-field>
                          <v-date-picker 
                            v-model="date"
                            locale="es-419"
                            :min="today" 
                            no-title 
                            scrollable 
                            @input="$refs.dialog[0].save(date)"
                            light
                          >
                          <v-spacer></v-spacer>
                          <v-btn flat color="orange" @click="modal = false">Cancel</v-btn>
                          <v-btn flat color="orange" @click="$refs.dialog[0].save(date)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                      <v-text-field
                        color="orange"
                        single-line
                        prepend-icon="place"
                        label="Dirección del evento/cumpleaños"
                        v-model="direccion"
                        :error-messages="direccionErrors"
                        @input="$v.direccion.$touch()"
                        @blur="$v.direccion.$touch()"
                        required
                        light
                      ></v-text-field>
                      <v-checkbox
                        label="Necesito una reserva"
                        v-model="checkbox"
                        @change="getPedidoType"
                        @blur="$v.checkbox.$touch()"
                        light
                        style="padding: 2vh 0 0 0"
                        color="orange"
                      ></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-form>
              </template>
            </v-card>
            <div class="hidden-sm-and-down" style="height: 4.4vh"></div>
            <v-layout row wrap align-center align-content-center justify-center>
              <v-flex xs12 class="text-xs-center pb-5" v-if="n !== steps">
                <v-btn icon flat to="/catalogo" v-if="n !== steps" color="orange darken-1"><v-icon>highlight_off</v-icon></v-btn>
                <v-btn flat color="indigo darken-1 white--text" @click="nextStep(n)" v-if="n !== steps"> Continuar </v-btn>
              </v-flex>
              <v-flex xs12 sm1 md1 class="text-xs-center" v-if="n == steps">
                <v-btn icon flat @click="prevStep(n)"><v-icon>history</v-icon></v-btn>
              </v-flex>
              <v-flex xs12 sm4 md2 class="text-xs-center" v-if="n == steps">
                <v-btn flat @click="clear" light>LIMPIAR FORMULARIO</v-btn>
              </v-flex>
              <v-flex xs12 sm4 md2 class="text-xs-center" v-if="n == steps">
                <v-btn flat color="indigo darken-1 white--text" @click="submit"> Proceder con la {{pedidotype}} </v-btn>
              </v-flex>
            </v-layout>
            <v-layout row wrap align-center align-content-center justify-center>
                <v-flex xs12 sm6 md4 v-if="n == steps" style="white-space: pre-line;" class="text-xs-center red--text pb-2">
                  {{noenviado}}
                </v-flex>
              </v-layout>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      <v-layout v-if="msgfinal !== null" row wrap align-center align-content-center justify-center style="padding-bottom: 10vh">
        <v-flex xs12 class="text-xs-center title" style="white-space: pre-line">
          {{msgfinal}}
        </v-flex>
        <v-flex xs12 class="text-xs-center pt-5 pb-5">
          <v-btn @click="otracotizacion" light to="/catalogo">REALIZAR OTRA COTIZACIÓN O RESERVA</v-btn>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>
<script>
import mustache from 'mustache'
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, email, numeric } from 'vuelidate/lib/validators'
import { mapMutations, mapState } from 'vuex'
import ListaPedidos from '@/components/ListaPedidos'
import emailtxt from '../assets/email/email_template.txt'
export default {
  mixins: [validationMixin],
  validations: {
    name: { required, maxLength: maxLength(30) },
    email: { required, email },
    direccion: { required },
    phone: { required, numeric, minLength: minLength(9), maxLength: maxLength(9) },
    checkbox: { required },
    dateFormatted: { required }
  },
  components: {
    ListaPedidos
  },
  data () {
    return {
      noenviado: '',
      pedidotype: 'Cotización',
      msgfinal: null,
      pasos: [ 'Lista de cotización', 'Formulario' ],
      today: new Date().toJSON().slice(0, 10).replace(/-/g, '-'),
      e1: 1,
      steps: 2,
      name: '',
      direccion: '',
      email: '',
      phone: '',
      items: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4'
      ],
      checkbox: false,
      date: null,
      dateFormatted: null,
      modal: false
    }
  },
  watch: {
    steps (val) {
      if (this.e1 > val) {
        this.e1 = val
      }
    },
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    }
  },
  computed: {
    selectErrors () {
      const errors = []
      if (!this.$v.select.$dirty) return errors
      !this.$v.select.required && errors.push('Item es requerido')
      return errors
    },
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength && errors.push('El correo como máximo debe tener 30 caracteres')
      !this.$v.name.required && errors.push('Su nombre es requerido')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Debe ser un correo válido')
      !this.$v.email.required && errors.push('Su correo electrónico es requerido')
      return errors
    },
    phoneErrors () {
      const errors = []
      if (!this.$v.phone.$dirty) return errors
      !this.$v.phone.numeric && errors.push('Debe ser un número válido')
      !this.$v.phone.minLength && errors.push('El celular debe tener 9 dígitos')
      !this.$v.phone.maxLength && errors.push('El celular debe tener 9 dígitos')
      !this.$v.phone.required && errors.push('Su número de teléfono es requerido')
      return errors
    },
    direccionErrors () {
      const errors = []
      if (!this.$v.direccion.$dirty) return errors
      !this.$v.direccion.required && errors.push('Su dirección de envío es requerida')
      return errors
    },
    dateFormattedErrors () {
      const errors = []
      if (!this.$v.dateFormatted.$dirty) return errors
      !this.$v.dateFormatted.required && errors.push('La fecha de envío es requerida')
      return errors
    },
    computedDateFormatted () {
      return this.formatDate(this.date)
    },
    getPedidoType () {
      if (this.checkbox === false) {
        this.pedidotype = 'Cotización'
      } else {
        this.pedidotype = 'Reserva'
      }
    },
    ...mapState([
      'products'
    ])
  },
  methods: {
    formatDate (date) {
      if (!date) return null
      const [year, month, day] = date.split('-')
      return `${day}${'/'}${month}${'/'}${year}`
    },
    parseDate (date) {
      if (!date) return null
      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    save (date) {
      this.$refs.dialog[0].save(date)
    },
    onInput (val) {
      this.steps = parseInt(val)
    },
    nextStep (n) {
      if (n === this.steps) {
        this.e1 = 1
      } else {
        this.e1 = n + 1
      }
    },
    prevStep (n) {
      if (n === this.steps) {
        this.e1 = 1
      } else {
        if (n === 2) {
          this.e1 = n - 1
        }
      }
      this.msgfinal = null
    },
    submit () {
      this.msgfinal = null
      this.$v.$touch()
      if (this.products.length !== 0 && this.nameErrors.length === 0 && this.emailErrors.length === 0 && this.phoneErrors.length === 0 && this.direccionErrors.length === 0 && this.dateFormattedErrors.length === 0) {
        this.sendEmail()
        this.msgfinal = '¡Gracias! \n\n Pronto nos comunicaremos contigo.'
        this.removeallClickProducts()
        this.noenviado = ''
      } else {
        this.msgfinal = null
        this.noenviado = 'No se pudo concretar el envío. \n\n Necesitas elegir al menos un ítem en el paso anterior y llenar todos los campos del formulario. \n\n'
      }
    },
    clear () {
      this.$v.$reset()
      this.name = ''
      this.email = ''
      this.phone = ''
      this.direccion = ''
      this.select = null
      this.checkbox = false
      this.date = null
      this.noenviado = ''
    },
    sendEmail () {
      const view = {
        'tipopedido': this.pedidotype,
        'nombre': this.name,
        'email': this.email,
        'phone': this.phone,
        'date': this.dateFormatted.toString(),
        'direccion': this.direccion,
        'producto': this.products
      }
      const body = mustache.render(emailtxt, view)
      window.Email.send('Rebote <ventas2@rebote.com.pe>',
        'ventas2@rebote.com.pe',
        '¡Hola, quiero una ' + this.pedidotype + '! || ' + this.name,
        body,
        {token: 'fa557a6c-6b0d-46f9-b451-fbe4392f5f24'}
      )
      console.log('MENSAJE ENVIADO')
    },
    otracotizacion () {
      this.clear()
      this.msgfinal = null
      this.e1 = 1
    },
    ...mapMutations([
      'removeallClickProducts'
    ])
  },
  name: 'Reservar'
}
</script>
<style scoped>
.stepper__step >>> .stepper__step__step {
  color: black;
}
.indigopropio {
  color: #5E46F3;
}
</style>
