<template>
  <v-app style="padding:0; margin:0" class="white" v-if="!loading && !loading2">
    <div id="blur"></div>
    <div style="position: relative; overflow: hidden;">
    <v-toolbar
      app
      class="elevation-0 text-xs-center"
      style="background: white"
      dark
      scroll-off-screen
    >
      <v-menu :nudge-width="100" class="hidden-sm-and-up">
        <v-toolbar-title slot="activator">
          <v-icon light color="orange">menu</v-icon>
        </v-toolbar-title>
        <v-list>
          <v-list-tile v-for="item in items" :key="item.id" :to="item.ref">
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-spacer class="hidden-sm-and-up"></v-spacer>
      <v-toolbar-title class="black--text">
        <img :src="logorebote" alt="Logo Rebote" class="logosize">
      </v-toolbar-title>
      <v-spacer class="hidden-xs-only"></v-spacer>
      <v-toolbar-items class="toolbaritems hidden-xs-only">
        <v-btn flat light color="orange lighten-1" style="font-weight:700; font-size: 20px" v-for="item in items" :key="item.id" :to="item.ref">
          {{item.title}}
        </v-btn>
        <v-btn flat light color="indigo lighten-1" style="font-weight:700; font-size: 20px" to="/reservar">
        Cotizar
      </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
      <v-btn flat icon to="/reservar" style="margin: 0 20px 0 0">
          <v-badge class="indigo--text text--lighten-1" color="indigo lighten-1">
            <span slot="badge">{{ $store.state.count }}</span>
            <v-tooltip bottom>
              <v-icon slot="activator">shopping_cart</v-icon>
              <span>Cotizar</span>
            </v-tooltip>
          </v-badge>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    </div>
    <v-content style="padding:0">
      <router-view/>
    </v-content>
    <rebote-footer></rebote-footer>
  </v-app>
  <v-container v-else fluid style="height:100vh; background: #5E46F3">
    <v-layout fill-height align-center align-content-center justify-center>
        <img :src="logorebote" alt="Logo Rebote" style="height: 30vh">
    </v-layout>
  </v-container>
</template>
<script>
import logorebote from './assets/images/logorebote.png'
import ReboteFooter from '@/components/ReboteFooter'
import { promocionesRef, storage } from './firebase/firebase'
import { mapState, mapMutations } from 'vuex'
export default {
  components: {
    ReboteFooter
  },
  data () {
    return {
      logorebote: logorebote,
      items: [
        { title: 'INICIO', ref: '/' },
        { title: 'CATÁLOGO', ref: '/catalogo' }
      ],
      duration: 800,
      offset: 0,
      easing: 'easeOutQuint',
      loading: true,
      loading2: true
    }
  },
  computed: {
    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    },
    ...mapState([
      'promociones'
    ]),
    rebotevideo: {
      get () {
        return this.$store.state.rebotevideo
      },
      set (value) {
        this.$store.commit('updateVideo', value)
      }
    }
  },
  mounted () {
    console.log('Mounted, loading...')
    let self = this
    if (self.promociones.length === 0) {
      promocionesRef.on('value', function (snap) {
        self.loading = false
        const allPromociones = snap.val()
        self.updatePromociones(allPromociones)
      })
    } else {
      self.loading = false
    }
    if (self.rebotevideo.includes('https://')) {
      self.rebotevideo = self.rebotevideo
      self.loading2 = false
    } else {
      const iRef = self.rebotevideo
      storage.ref(iRef).getDownloadURL().then(function (url) {
        self.rebotevideo = url
      })
      self.loading2 = false
    }
  },
  methods: {
    ...mapMutations([
      'updatePromociones',
      'updateVideo'
    ])
  },
  name: 'App'
}
</script>

<style scoped>
.logosize {
  height: 8vh;
}
.toolbaritems {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  font-weight: 800;
}
a {
  color: white;
  text-decoration: none;
}
#app {
  font-family: 'Quicksand', sans-serif;
}
.iconshadow {
  text-shadow: 0 0 5px #000000;
}
.indigopropio {
  color: #5E46F3;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style>
